[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Jellyfin Server
Exec=/usr/bin/xdg-open http://localhost:8096
Icon=/usr/share/icons/hicolor/scalable/apps/docker-jellyfin.svg
Categories=Docker;
